*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgba(187, 185, 183, 0.256);
}


h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    background-color: black;
    padding: 10px;
}

.container{
    width: 100%;
    text-align: center;
}
.sub-input{
    display: inline-block;
    margin: 20px auto;
    width: 80%;
}

.subreddit{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.213);
}

.meme-generator{
    font-family: "Roboto", sans-serif;
    text-align: center;   
}


.meme-generator img{
    height: 430px;
    object-fit: cover;
}

.meme-generator .generate-meme-btn{
    padding: 8px 20px;
    border: none;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    margin: 24px 0;
    cursor: pointer;
    transition: all 200ms ease;
}

.meme-generator .generate-meme-btn:hover {
    padding: 10px 24px;
    background-color: rgba(0,0,0, 0.9);
}

.meme-generator .meme-author{
    margin: 8px; 
}